venv
.venv
.vscode
.vagrant
.terraform
inventory.yml
playbook/debug.yml
docs/.$MongerHomeLab.drawio.bkp

# Secrets - NEVER commit these!
inventory/**/vault.yml
.vault_pass
*.vault
**/secrets.yml
